!!!5
%html

  %head
    %meta( charset="utf-8" )
    %title ui-flash-uploader demo
    %link( rel="stylesheet" href="#{to 'stylesheet/style.css'}")

  %body
    .container-fluid
      .row-fluid
        .span2
          %h3 ui-flash-uploader demo
          #demo1
            .flash{ "data-url" => to('/') }
            .progress
              .bar{ style: "width: 0%" }

          %ul
            %li
              %a( href="http://wd.alibaba-inc.com/fdevlib/#fdev4.jQuery.ui.flash.uploader" )
                Flash上传组件文档 (js）
            %li
              %a( href="http://wd.alibaba-inc.com/doc/page/work/cbu-architecture/flash-uploader-external-interface" )
                flash 核心文档
            %li
              %a( href="http://wd.alibaba-inc.com/codebase/repos/ui-flash-uploader-backend/server.rb" )
                本例后端代码 (ruby)

        .span10

          %ul.result


    %script( src="http://style.china.alibaba.com/js/lib/fdev-v4/core/fdev-min.js" )

    :javascript
      jQuery(function($){

        $.DEBUG = true;

        $.use('ui-flash-uploader2, util-debug', function(){

          var demo1 = $('div.flash', '#demo1').flash({
            module: 'uploader2', 
            swf: 'aliuploader-v3.3.swf',
            width: 159,
            height: 32,
            flashvars: { 
              debug: true,
              buttonSkin: 'http://img.china.alibaba.com/swfapp/aliuploader/upload-btn.png'
            }

          }).on('fileSelect.flash', function(e, o){

              $(this).flash('uploadAll', $(this).data('url'), {
                drawTxt: true,
                albumId: '15815320',
                _csrf_token: 'test',
                source: 'picman'
              }, 'FileData', 'fname');

              setProgress(0);
              $('.progress .bar').removeClass('bar-success');

          }).

          on( 'swfReady browse ' +
            'processStart processProgress processFinish ' +
            'transferStart transferProgress transferError ' +
            'transferComplete transferCompleteData ' +
            'finish',
            logFileEvent

          ).
          on('transferError transferCompleteData processFinish finish', updateProgress).
          on('browse', function() { setProgress(0); } ).
          on('transferCompleteData', function(e, o) {

              var file = o.file,
                result1 = $('ul.result');

              if (file.status === 'done') {
                var msg = eval('(' + file.msg + ')');
                  if (msg.result === 'success') {
                    var li = $('<li>');
                    $('<img/>').attr('src', msg.miniImgUrls[0]).
                      addClass('img-polaroid').appendTo(li);

                    li.prependTo( result1 );
                  }
              }

          }).on('finish.flash', function(e){
              var fileStatuses = $(this).flash('getFileStatuses');
              $(this).flash('clear');
              $('.progress .bar').addClass('bar-success');
          });

          function logFileEvent(evt, o) {
              var file = o.file;
              if(file){
                console.info(file.name, evt.type, o.file);
              } else {
                console.info(evt.type);
              }
          }

          function updateProgress() {
            var swf = $('#demo1 .flash').flash('getFlash'),
                stts = swf.getFileStatuses(),
                progress = 0,
                st;

            for(var i=0, len=stts.length; i<len; i++) {
                st = stts[i].status;
                progress += {
                  notTransfered: 1,
                  transferFail: 1,
                  done: 1
                }[st] || 0;
            }

            setProgress( progress / len );

          }

          function setProgress( value ) {
            $('.progress .bar').width( Math.floor(value * 100) + '%' );
          }

        });
      });
